* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
  height: auto;
  width: 350px;
}

a {
  color: slateblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: saddlebrown;
}

h1 {
  text-align: center;
}

body {
  background-color: cornsilk;
  padding: 0 10%;
}
